<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h4 class="header2">Login</h4>
      <div class="row">
        <form class="col s12" [formGroup]="form">
          <div class="row">
          </div>
          <textbox-template [name]="'username'" [form]="form" [label]="'Username'" s=12></textbox-template>
          <textbox-template [name]="'password'" [form]="form" [label]="'Password'" s=12 type="password"></textbox-template>
          <div class="row">
            <div class="row">
              <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light right" type="submit" (click)="submit(this.form.value)">Login
                  <i class="mdi-content-send right"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>