<form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">
    <fieldset>
        <legend>Login</legend>
        
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" [formControl]="registerForm.controls['email']">
                <div *ngIf="registerForm.controls['email'].hasError('required')" class="alert alert-danger">You must include a first name.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" [formControl]="registerForm.controls['password']">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>

    </fieldset>
</form>