@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="section">
    @Html.Partial("_Section1")
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var $validatr = $('form').data('validator');
            var settngs = $validatr.settings;
            debugger;

            settngs.onkeyup = function (element, eventType) {
                if (!$validatr.element(element)) {
                    $(this.currentForm).triggerHandler("invalid-form", [this]);
                    $(element).css('background-color', 'red');
                } else {
                    $(element).css('background-color', '');
                }
            };


            settngs.onfocusout = false;
        });  
        
    </script>
}