<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h4 class="header2">Register</h4>
      <div class="row">
        <form class="col s12" [formGroup]="registerForm">
          <textbox-template [name]="'firstName'" [form]="registerForm" [label]="'First Name'"></textbox-template>
          <textbox-template [name]="'lastName'" [form]="registerForm" [label]="'Last Name'" s=6></textbox-template>
          <textbox-template [name]="'email'" [form]="registerForm" [label]="'Email'" type="email" s="12">
          </textbox-template>
          <textbox-template [name]="'password'" [form]="registerForm" [label]="'Password'" s=12 type="password"></textbox-template>
          <textbox-template [name]="'repeatPassword'" [form]="registerForm" [label]="'Repeat Password'" s=12 type="password"></textbox-template>

          <div class="row">
            <div class="row">
              <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light right" type="submit" name="action" (click)="onRegister()">Register
                  <i class="mdi-content-send right"></i>
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>