@{
    ViewBag.Title = "Home Page";
}

<div id="translations" class="bootstrap-table">
    <div class="fixed-table-toolbar">
        <div class="pull-right search">
            <input data-columnNames="Title" filter="ci" class="form-control" type="text" placeholder="Search">
        </div>
    </div>
    <div class="fixed-table-container" style="height: 500px; padding-bottom: 40px;">
        <div class="fixed-table-header fixed-table-body" style="margin-right: 0px;">
            <table dt-table class="table table-hover JColResizer">
                <thead>
                    <tr>
                        <th sortable data-name="Title" data-field="id" tabindex="0" class="sortable">
                            <div dt-inner class="th-inner th-inner sortable">ID</div>
                            <div class="fht-cell" style="width: 175px;">
                            </div>
                        </th>
                        <th data-field="id" tabindex="0">
                            <div class="th-inner th-inner">Actions</div>
                            <div class="fht-cell" style="width: 175px;">
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dt-template="main">
                        <td>
                            <div data-name="Title"></div>
                        </td>
                        <td>
                            <button dt-btn-template="edit" dt-delay="250" class="btn btn-default">Edit</button>
                            <button dt-btn-template="info" dt-delay="250" class="btn btn-warning">Info</button>
                        </td>
                    </tr>

                    <tr dt-template="info">
                        <td>
                            <div data-name="Title"></div>
                            <div data-name="Translations" dt-render="info"></div>
                        </td>

                        <td>
                            <button dt-btn-template="main" dt-delay="250" class="btn btn-warning">Cancel</button>
                            <button dt-btn-template="edit" dt-delay="250" class="btn btn-warning">Edit</button>
                        </td>
                    </tr>

                    <tr dt-template="edit">
                        <td>
                            <div data-name="Title"></div>
                            <div data-name="Translations" dt-render="edit" />
                        </td>
                        <td>
                            <button dt-btn-template="main" dt-delay="250" class="btn btn-info">Cancel</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <input id="tb-title" type="text" placeholder="Title" class="form-control" />
                            <button id="btn-addTitle" class="btn-primary">Add</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="fixed-table-pagination" style="display: block;">
            <div class="pull-left pagination-detail">
                <span class="pagination-info">Showing 20 of <span number-of-rows /> rows</span>
            </div>
            <div class="pull-right center pagination" dt-paginator="3" dt-paginator-length="7">
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        dataTable.init(('#translations'), {
            ajax: {
                url: "/home/getTranslations"
            },
            columns: {
                Translations: {
                    render: {
                        edit: function (cellData, rowData) {
                            var resultToRender = '';
                            for (var prop in cellData) {
                                resultToRender = resultToRender +
                                '<div class="form-group row" dt-form data-name="Translations">' +
                                '<label data-name="language" for="example-text-input" class="col-md-1 col-form-label">' + prop + '</label>' +
                                '<div class="col-md-10">' +
                                '<input data-name="translation" class="form-control col-md-3" type="text" value="' + cellData[prop] + '" id="example-text-input">' +
                                '<div class="button-group">' +
                                '<button dt-btn-post="edit update" dt-delay="250" class="btn btn-info">Update</button>' +
                                '<button dt-btn-post="edit removeTranslation" dt-delay="250" class="btn btn-danger">Delete</button>' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                            }

                            resultToRender +=
                                '<div class="form-group row" dt-form>' +
                                '<div class="col-md-10">' +
                                '<input placeholder="Language" data-name="language" class="form-control col-md-2" type="text"/>' +
                                '<input placeholder="Translation" data-name="translation" class="form-control col-md-6" type="text"/>' +
                                '<button dt-btn-post="edit update" dt-delay="250" class="btn btn-info col-md-2" data-title="' + rowData.Title + '">Add</button>' +
                                '</div>' +
                                '</div>';

                            return resultToRender;
                        },

                        info: function (cellData, rowData) {
                            var resultToRender = '';
                            for (var prop in cellData) {
                                resultToRender = resultToRender +
                                  '<div class="form-group row">' +
                                  '<label for="example-text-input" class="col-md-2 col-form-label">' + prop + '</label>' +
                                  '<div class="col-md-10">' +
                                  '<input disabled data-name="' + prop + '" class="form-control" type="text" value="' + cellData[prop] + '" id="example-text-input">' +
                                  '</div>' +
                                  '</div>';
                            }

                            return resultToRender;
                        }

                    }
                }
            },
            editable: {
                update: {
                    update: function (postData, rowData, updateRow) {
                        $.ajax({
                            url: '/home/updateTranslation',
                            method: 'post',
                            data: {
                                title: rowData.Title,
                                language: postData.language,
                                translation: postData.translation
                            },
                            success: function () {
                                rowData.Translations[postData.language] = postData.translation;
                                postData = {};
                                updateRow(postData);
                            }
                        });
                    },
                    removeTranslation: function (postData, rowData, updateRow) {
                        $.ajax({
                            url: '/home/removeTranslation',
                            method: 'post',
                            data: {
                                title: rowData.Title,
                                language: postData.language,
                                translation: postData.translation
                            },
                            success: function () {
                                delete rowData.Translations[postData.language];
                                postData = {};
                                updateRow(postData);
                            }
                        });
                    },
                }
            }
        });

        $('#btn-addTitle').on('click', function () {
            $.ajax({
                url: '/home/addTranslation',
                method: 'post',
                data: {
                    title: $('#tb-title').val(),
                },
                success: function () {
                }
            });
        })
    </script>
}